{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
{% if us.is_authenticated %}
<a href="/imagen/nuevo/"><input  type='button' value = "Nuevo InstaGuate"/></a>
{% endif %}

{% for obj in object_list %}

    <h2><a href="{{obj.get_absolute_url}}">{{obj.titulo}} </a>
      {% if us.is_superuser %}
        <div style="text-align: right; margin-rigth: 10px;">
          <a href="http://skroca.pythonanywhere.com/editar/{{obj.id}}/"><input style="algin:right"  type='button' value = "Editar"/></a>
        </div>
      {% endif %}
    </h2>
    {% if obj.img %}
    <p><img src='{{ obj.img.url }}'/></p><br>
    <h> {{obj.descripcion|linebreaks|truncatechars:130}} </h>

    {% endif %}


{% endfor %}

{% endblock content %}
